<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List of lessons</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/logo_edVantage.png"
             th:src="@{/images/logo_edVantage.png}"
             alt="" width="30" height="24"
             class="d-inline-block align-text-top">
        edVantage
    </a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">All courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses/new}">Add course</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <h2>Lessons</h2>
        <h6>Hints:</h6>
        <small style="color: gray; font-style:italic; font-size: x-small">
            * click 'Title' value of some lesson to see details of this lesson
        </small>
        <small style="color: gray; font-style:italic; font-size: x-small">
            * click 'Videos count' value of some lesson to see videos of this lesson
        </small>
    </div>
    <div class="row">
        <div class="col-lg-3 align-self-end">
            <a th:href="@{/courses/{courseId}/lessons/new(courseId=${course_id})}" class="btn btn-primary mb-3 mt-3">Add
                lesson</a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-primary">
        <thead class="table-primary position-sticky">
        <tr>
            <th> #</th>
            <th> Title</th>
            <th> Author</th>
            <th> Text-Body</th>
            <th> Course</th>
            <th> Videos count</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson, iteration: ${lessons}">
            <td th:text="${iteration.count}"></td>
            <td th:text="${lesson.title}"></td>
            <td th:text="${lesson.author}"></td>
            <td th:text="${lesson.textBody}"></td>
            <td th:text="${lesson.course.title}"></td>
            <td th:text="${#lists.size(lesson.videos)}"></td>
            <td>
                <a th:href="@{/courses/{courseId}/lessons/edit/{id}(id=${lesson.id},courseId=${course_id})}"
                   class="btn btn-success">
                    <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/icon_edit.png"
                         th:src="@{/images/icon_edit.png}" alt="" width="16" height="16">
                    Update
                </a>
                <a th:href="@{/courses/{courseId}/lessons/delete/{id}(id=${lesson.id},courseId=${course_id})}"
                   class="btn btn-danger">
                    <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/icon_edit.png"
                         th:src="@{/images/icon_delete.png}" alt="" width="16" height="16">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>