<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List of roles</title>
</head>
<body>
<nav class="navbar sticky-top navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/logo_edVantage.png"
             th:src="@{/images/logo_edVantage.png}"
             alt="" width="30" height="24"
             class="d-inline-block align-text-top">
        edVantage
    </a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">All courses</a>
            </li>
            <li class="nav-item">
                <a th:if="${currentPermissions.contains('CREATE_COURSE')}"
                   class="nav-link" th:href="@{/courses/new}">Add course</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <h2>Roles</h2>
    </div>
    <div class="row">
        <div class="col-lg-3 align-self-end">
            <a th:if="${currentPermissions.contains('CREATE_ROLE')}" th:href="@{roles/new}"
               class="btn btn-primary mt-3">Add role</a>
        </div>
    </div>
    <table class="table table-bordered table-striped table-primary mt-3">
        <thead class="table-primary position-sticky">
        <tr>
            <th> #</th>
            <th> Title</th>
            <th> Permissions</th>
            <th th:if="${currentPermissions.contains('UPDATE_ROLE') || currentPermissions.contains('DELETE_ROLE')}">
                Actions
            </th>
        </tr>
        </thead>
        <tbody th:if="${!roles.page.content.empty}">
        <tr th:each="role: ${roles.page}">
            <td th:text="${roles.pagingNavData.pageSize * (roles.pagingNavData.pageNumber - 1) + roleStat.count}"></td>
            <td th:text="${role.title}"></td>
            <td th:text="${#strings.listJoin(role.permissions, ', ')}"></td>
            <td th:if="${currentPermissions.contains('UPDATE_ROLE') || currentPermissions.contains('DELETE_ROLE')}">
                <a th:if="${currentPermissions.contains('UPDATE_ROLE')}" th:href="@{/roles/edit/{id}(id=${role.id})}"
                   class="btn btn-success m-1">
                    <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/icon_edit.png"
                         th:src="@{/images/icon_edit.png}" alt="" width="16" height="16">
                    Update
                </a>
                <a th:if="${currentPermissions.contains('DELETE_ROLE')}"
                   th:href="@{/roles/delete/{id}(id=${role.id})}" class="btn btn-danger m-1">
                    <img src="/home/farrukh_kh/IdeaProjects/edVantage/src/main/resources/static/images/icon_edit.png"
                         th:src="@{/images/icon_delete.png}" alt="" width="16" height="16">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${roles.page.content.empty}">
        <tr>
            <td class="text-center" colspan="7"><b>No roles found</b></td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${roles.page.totalPages > 1}">
            <li class="page-item" th:classappend="${!roles.pagingNavData.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'?page=' + ${roles.pagingNavData.pageNumber - 1} + '&page_size=' + ${roles.pagingNavData.pageSize}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${roles.pagingNavData.getItems()}">
                <li class="page-item" th:classappend="${item.index == roles.pagingNavData.pageNumber? 'active' : ''}"
                    th:if="${item.itemType.name() == 'PAGE'}">
                    <a class="page-link"
                       th:href="@{'?page=' + ${item.index} + '&page_size=' + ${roles.pagingNavData.pageSize}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.itemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!roles.pagingNavData.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'?page=' + ${roles.pagingNavData.pageNumber + 1} + '&page_size=' + ${roles.pagingNavData.pageSize}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>